@using AlloyTraining.Models.Pages
@using AlloyTraining.Models.ViewModels
@model PageViewModel<ProductPage>
@{
    Layout = "~/Views/Shared/Layouts/_RightRelatedContent.cshtml";
}
<h1 @Html.EditAttributes(m => m.CurrentPage.Name)>
    @Model.CurrentPage.Name
</h1>
<p class="introduction" @Html.EditAttributes(m => m.CurrentPage.MetaDescription)>
    @Model.CurrentPage.MetaDescription
</p>
<div class="row">
    <div class="span8 cleafix">
        @Html.PropertyFor(m => m.CurrentPage.MainBody)
    </div>
</div>
@section RelatedContent {
    <div @Html.EditAttributes(m => m.CurrentPage.PageImage)>
        <img src="@Url.ContentUrl(Model.CurrentPage.PageImage)" />
    </div>
    <div class="block colorBox @Model.CurrentPage.Theme">
        <h2 @Html.EditAttributes(m => m.CurrentPage.Name)>
            @Model.CurrentPage.Name
        </h2>
        <p @Html.EditAttributes(m => m.CurrentPage.UniqueSellingPoints)>
            @foreach (string usp in Model.CurrentPage.UniqueSellingPoints)
            {
                <span class="label label-inverse">@usp</span>
            }
        </p>
    </div>
}